.topMenu {
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgba(77,38,77,1) 0%, rgba(102,51,102, 1) 50%, rgba(179,89,179,1) 100%);
}

.topMenu_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.topMenu_container__landingPage {
    max-width: 1024px;
    margin: 0 auto;
}

.topMenu_hamburgerAndLogoContainer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.topMenu_logo {
    margin-right: 0.5rem;
}

.topMenu_logo a {
    color: inherit;
}

/* ***************************************** */
/* HAMBURGER ICON INTO CROSS ANIMATION START */
/* ***************************************** */
.topMenu_hamburgerAndLogoContainer span {
    display: block;
    background: #663366;
    border-radius: 2px;
}

.topMenu_hamburgerAndLogoContainer * {
    transition: .25s ease-in-out;
    box-sizing: border-box;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    background: rgba(255,255,255,.4);
    border-radius: 3px;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle:hover {
    background: rgba(255,255,255,.8);
}

.topMenu_hamburgerAndLogoContainer #menu-toggle:hover span {
    background: #B359B3;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #hamburger span {
    width: 30px;
    height: 3px;
    position: relative;
    top: 12px;
    left: 10px;
    margin: 5px 0;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #hamburger span:nth-child(1) {
    transition-delay: .5s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #hamburger span:nth-child(2) {
    transition-delay: .625s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #hamburger span:nth-child(3) {
    transition-delay: .75s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #cross span:nth-child(1) {
    height: 0%;
    width: 3px;
    position: absolute;
    top: 10%;
    left: 24px;
    transition-delay: 0s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle #cross span:nth-child(2) {
    height: 0%;
    width: 3px;
    position: absolute;
    bottom: 10%;
    right: 24px;
    transition-delay: .25s;
    transform: rotate(270deg);
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #hamburger span {
    width: 0%;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #hamburger span:nth-child(1) {
    transition-delay: 0s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #hamburger span:nth-child(2) {
    transition-delay: .125s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #hamburger span:nth-child(3) {
    transition-delay: .25s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #cross span:nth-child(1) {
    height: 80%;
    transition-delay: .625s;
}

.topMenu_hamburgerAndLogoContainer #menu-toggle.open #cross span:nth-child(2) {
    height: 80%;
    transition-delay: .375s;
}

/* *************************************** */
/* HAMBURGER ICON INTO CROSS ANIMATION END */
/* *************************************** */