@using Ackee.Data.Model

@if (_updatedProject == null)
{
    <EditForm Model="@_createFormModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @if (!string.IsNullOrEmpty(_statusMessage))
        {
            <p>@_statusMessage</p>
        }

        <p>
            <label for="projectName">Project Name: </label>
            <InputText id="projectName" @bind-Value="_createFormModel.ProjectName" />
        </p>

        <button type="submit">Submit</button>

    </EditForm>
}
else
{
    <h4>Project added successfully</h4>
}


@code {
    private CreateFormModel _createFormModel = new CreateFormModel();
    private AspNetProjects _updatedProject = null;
    private string _statusMessage = "";

    [Parameter]
    public Action OnSuccess { get; set; }

    [Parameter]
    public string UserId { get; set; }

    private async Task CreateProject(string userId)
    {
        try
        {
            _updatedProject = await (new HttpClient()).GetJsonAsync<AspNetProjects>($"http://localhost:53508/api/projects/create/{userId}/{_createFormModel.ProjectName}");
        }
        catch (Exception e)
        {
            _statusMessage = "Something went wrong.";
        }
        finally
        {
            StateHasChanged();
        }        
    }

    private async void HandleValidSubmit()
    {
        await CreateProject(UserId);

        if (_updatedProject != null)
        {
            OnSuccess?.Invoke();
        }
    }



}
