.tooltipFTW {
    position: relative;
    display: inline-block;
}

.tooltipFTW .tooltipFTWtext {
    width: 200px;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 125%;
    /* Fade in tooltipFTW - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltipFTW .tooltipFTWtext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

.tooltipFTW:hover .tooltipFTWtext {
    visibility: visible;
    opacity: 1;
}
