<div class="sideMenu">
    <div class="sideMenu_projectIcon">
        <h1>P</h1>
    </div>
    <div class="sideMenu_navigation">
        <ul>
            <li></li>
        </ul>
    </div>
</div>

@code {

}
