<div class="leftMenu">
    <div class="leftMenu_projectIcon">
        <h1>P</h1>
    </div>
    <div class="leftMenu_navigation">
        <ul>
            <li></li>
        </ul>
    </div>
</div>

@code {

}
