@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('mainLayout.css');

@import url('landingPage.css');
@import url('scaffoldingCustomLayout.css');
@import url('projectsOverview.css');

@import url('UI/ProjectListItem/projectListItem.css');
@import url('UI/Button/button.css');
@import url('UI/TopMenu/topMenu.css');
@import url('UI/TopMenu/topMenuIdentity.css');

@import url('DashboardLayout/dashboardLayout.css');
@import url('DashboardLayout/LeftMenu/leftMenu.css');
@import url('UI/Modal/modalWithBackdrop.css');

@import url('ProjectDashboard/projectDashboard.css');
@import url('UI/DashboardWidgets/dashboardWidgets.css');

@import url('ProjectDashboard/Settings/settings.css'); 
@import url('ProjectDashboard/Settings/UpdateProjectInfoForm/updateProjectInfoForm.css');
@import url('ProjectDashboard/Settings/MembersOverview/membersOverview.css');
@import url('ProjectDashboard/Settings/MembersOverview/MemberListItem/memberListItem.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: lavender;
}

a {
    text-decoration: none !important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}