@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('mainLayout.css');
@import url('UI/topMenu.css');
@import url('UI/topMenuIdentity.css');
@import url('landingPage.css');
@import url('scaffoldingCustomLayout.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}