@using Ackee.Data.Model

<div class="memberListItem">
    <p class="emailAddress">
        @User.Email
    </p>

    <span class="removeIcon oi oi-x" @onclick="@OnDelete"></span>
</div>

@code {
    [Parameter]
    public ApplicationUser User { get; set; }

    [Parameter]
    public Action OnAssigneeRemovedSuccessfully { get; set; }

    public void OnDelete()
    {
        OnAssigneeRemovedSuccessfully?.Invoke();
    }
}
