.widget {
    margin: 1rem;
    width: 30%;
}

.widget .widget_header {
    margin: 0.5rem;
}

.widget .widget_frame {
    background-color: #ededed;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    width: 100%;
}

.widget .widget_frame .task > span {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
