@using Ackee.Data.Model
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject Ackee.Shared.Services.StringManipulationService StringManipulationService

<div class="projectListItem" @onclick='()=>NavigateToProject()'>
    <figure class="projectIconContainer">
        <h1>
            @StringManipulationService.GetStringAbbreviation(ProjectName)
        </h1>
    </figure>
    <div class="projectSummary">
        <div class="projectName">
            <h5>@ProjectName</h5>
        </div>
        <div class="projectMembers">
            @*@foreach(var member in ProjectMembers)
                {
                    <div class="projectMember">
                        @member.FirstName @member.LastName
                    </div>
                }*@

            <div class="projectMember">AN</div>
            <div class="projectMember">DG</div>
            <div class="projectMember">RS</div>
            <div class="projectMember">AL</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public List<AspNetUsers> ProjectMembers { get; set; }

    [Parameter]
    public string ProjectID { get; set; }

    private void NavigateToProject()
    {
        NavigationManager.NavigateTo($"/project/{ProjectID}");
    }
}
