@using Ackee.Data.Model
@using Ackee.Shared.Components.UI.Spinner

<div class="widget">
    <h4 class="widget_header">@Title</h4>
    <div class="widget_frame">
        <div class="widget_content scrollbar" id="style">
            @if(Tasks != null)
            {
                @foreach (var task in Tasks)
                {
                    <div class="widget_task widget_task__border d-flex">
                        <span class='@(task.Completed ? "dashboard_widget__span_done" : "dashboard_widget__span_notDone")'></span>
                        <h6 class="p-1">@task.TaskName</h6>
                    </div>
                }
            }
            else
            {
                <SpinnerComponent />
            }
        </div>

        <div class="widget_task widget_task__legend">
            <div class="d-flex justify-content-end">
                <span class="dashboard_widget__span_done"></span>
                <p class="dahboard_widget__label"> — done</p>
            </div>
            <div class="d-flex justify-content-end">
                <span class="dashboard_widget__span_notDone"></span>
                <p class="dahboard_widget__label"> — to be done</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<AspNetTasks> Tasks { get; set; }
}
