<div class="widget">
    <h4 class="widget_header">Tasks</h4>
    <div class="widget_frame">
        <div class="widget_content scrollbar" id="style">
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_done"></span>
                <h6 class="p-1">Task one</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_done"></span>
                <h6 class="p-1">Task two</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_done"></span>
                <h6 class="p-1">Task three</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_notDone"></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_notDone"></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_notDone"></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span class="dashboard_widget__span_notDone"></span>
                <h6 class="p-1">Task four</h6>
            </div>
        </div>

        <div class="widget_task widget_task__legend">
            <div class="d-flex justify-content-end">
                <span class="dashboard_widget__span_done"></span>
                <p class="dahboard_widget__label"> — done</p>
            </div>
            <div class="d-flex justify-content-end">
                <span class="dashboard_widget__span_notDone"></span>
                <p class="dahboard_widget__label"> — to be done</p>
            </div>
        </div>
    </div>
</div>

@code {

}
