<div class="widget">
    <h4 class="widget_header">Tasks</h4>
    <div class="widget_frame">
        <div class="widget_content">
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task one</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task two</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task three</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
            <div class="widget_task widget_task__border d-flex">
                <span></span>
                <h6 class="p-1">Task four</h6>
            </div>
        </div>

        <div class="widget_task widget_task__legend d-flex">
            <span></span>
            <p> - to be done</p>
        </div>
    </div>
</div>

@code {

}
