<div class="dashboard">
    <h4 class="dashboard widget_header">Tasks</h4>
    <div class="dashboard widget_frame">
        <div class="dashboard widget_frame task">
            <span></span>
        </div>
        <h6>Task one</h6>
        <h6>Task two</h6>
        <h6>Task three</h6>
    </div>
</div>

@code {

}
