@page "/"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<AuthorizeView>
    <Authorized>
        <h1>You are logged in!</h1>
    </Authorized>
    <NotAuthorized>
        <LandingPage />
    </NotAuthorized>
</AuthorizeView>


