<main class="mainLayout_main__maxWidth landingPage">
    <div class="landingPage_information">
        <h1>Ackee unites your projects!</h1>
        <p>
            Squiffy six pounders salmagundi line grog Plate Fleet Jolly Roger skysail Sail ho overhaul. Come about careen scuppers quarterdeck gun topgallant wench keelhaul rigging avast. Gunwalls barque hands flogging stern jack nipper plunder coxswain Chain Shot.

            Brigantine lad fire ship yardarm crack Jennys tea cup yard booty starboard deadlights cable. Code of conduct strike colors Brethren of the Coast execution dock lass Pieces of Eight chandler chase guns keel ahoy. Pieces of Eight cackle fruit driver clipper scourge of the seven seas take a caulk landlubber or just lubber hardtack spyglass Letter of Marque.

            Fore aft tackle chase keelhaul port line ho no prey, no pay lass. Rope's end tackle yo-ho-ho long boat man-of-war jury mast overhaul lugger brigantine pressgang. Chandler crimp blow the man down belaying pin walk the plank matey nipper interloper Sink me fathom.
        </p>
        <NavLink class="btn btn-primary align-self-center" href="/signup" Match="NavLinkMatch.All">
            Join Ackee!
        </NavLink>
    </div>
    <div class="landingPage_image">
        <img src="img/landing-page.jpg" alt="Example pages of cute cats, for no reason at all." />
    </div>
</main>

