@page "/project/{Id}"
@page "/project/{Id}/dashboard"
@using Ackee.Shared.Components.UI.DashboardWidgets

<DashboardLayout ProjectId=@Id PageName="Dashboard">
    <div class="projectDashboard_container">
        <div class="widgets">
            <ListOfTasks />
            <ListOfTasks />
            <ListOfTasks />
        </div>        
    </div>    
</DashboardLayout>

@code {
    [Parameter]
    public string Id { get; set; }
}
