@page  "/overview"
@using Ackee.Data.Model
@inject Projects Project

<main class="mainLayout_main__maxWidth">
    <div class="">
        <h3>Projects</h3>
        <button type="button">Add a project</button>

        <ul>
            @foreach()
        </ul>

        <ul>
            <li>
                <a href="#">ALL</a>
            </li>
            <li>
                <a href="#">MY PROJECTS</a>
            </li>
        </ul>
        <ul>
            <li>
                <img />
                <h6>Project name</h6>
            </li>
            <li>
                <img />
                <h6>Project name</h6>
            </li>
            <li>
                <img />
                <h6>Project name</h6>
            </li>
        </ul>
    </div>

</main>

@code {
    

}
