@page "/project/{Id:int}"
@using Ackee.Shared.Components.UI.DashboardWidgets

<DashboardLayout ProjectId=@Id PageName="Dashboard">
    <div class="projectDashboard_container">
        <div class="widgets">
            <ListOfTasks />
            <ListOfTasks />
            <ListOfTasks />
        </div>        
    </div>    
</DashboardLayout>

@code {
    [Parameter]
    public int Id { get; set; }
}
