@page "/project/{Id:int}"
@using Ackee.Shared;

<DashboardLayout ProjectId=@Id>
    <main>
        This is the project dashboard!
    </main>
</DashboardLayout>


@code {
    [Parameter]
    public int Id { get; set; }
}
