@page  "/overview"
@using Ackee.Data.Model
@using Ackee.Shared.Components.UI.ProjectListItem
@using Ackee.Shared.Components.UI
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<main class="mainLayout_main__maxWidth">
    <div class="projectsOverview">
        <div class="projectsOverview_header">
            <h3>Projects</h3>
            <Button ActionButton Round Padding FontSmaller Uppercase>Add a project</Button>
        </div>
        
        <div class="projectsOverview_navigation">
            <ul>
                <li class="@(_selectedTab.Equals("ALL") ? "active" : "")" @onclick='() => OnSelectTab("ALL")'>
                    ALL
                </li>
                <li class="@(_selectedTab.Equals("MY TASKS") ? "active" : "")" @onclick='() => OnSelectTab("MY TASKS")'>
                    MY TASKS
                </li>
            </ul>
        </div>

        <div class="projectsOverview_content">
            @if (_selectedTab.Equals("ALL"))
            {
                <ProjectListItemComponent ProjectName="ProEPPPPP" ProjectID=1/>
            }
            else {
                <h1>My personal tasks</h1>
            }
        </div>
    </div>

</main>

@code {
    private string _selectedTab = "ALL";

    private void OnSelectTab(string tab)
    {
        _selectedTab = tab;
    }
}
