@using Ackee.Data.Model
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<div class="projectListItem" @onclick='()=>NavigateToProject()'>
    <figure class="projectIconContainer">
        <h1>
            @GetProjectAbbreviation(ProjectName)
        </h1>
    </figure>
    <div class="projectSummary">
        <div class="projectName">
            <h5>@ProjectName</h5>
        </div>
        <div class="projectMembers">
            @*@foreach(var member in ProjectMembers)
                {
                    <div class="projectMember">
                        @member.FirstName @member.LastName
                    </div>
                }*@

            <div class="projectMember">AN</div>
            <div class="projectMember">DG</div>
            <div class="projectMember">RS</div>
            <div class="projectMember">AL</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public List<AspNetUsers> ProjectMembers { get; set; }

    [Parameter]
    public int ProjectID { get; set; }

    private string GetProjectAbbreviation(string projectName)
    {
        string abbreviation = "";

        if (string.IsNullOrEmpty(projectName))
        {
            return abbreviation;
        }

        List<string> separateWords = ProjectName.Split(' ').ToList();

        if (separateWords.Count == 1)
        {
            abbreviation = separateWords[0][0].ToString();
        }
        else
        {
            for (int i = 0; i <= 1; i++)
            {
                abbreviation += separateWords[i][0].ToString();
            }
        }

        return abbreviation;
    }

    private void NavigateToProject()
    {
        NavigationManager.NavigateTo($"/project/{ProjectID}");
    }
}
