@using Ackee.Data.Model
<div class="d-flex p-3">
    <div class="float-left">
        <figure class="p-2">
            <img src="#" alt="Project icon" />
        </figure>
        <div>
            <div class="p-2">
                <h5>@projectName</h5>
            </div>
            <div>
            
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string projectName { get; set; }

    [Parameter] 
    public List<AspNetProjects> ListOfProjects { get; set; }
}
