@using Ackee.Data.Model
<div class="projectListItem">
    <figure class="projectIconContainer">
        <img class="projectIcon"src="#" alt="Project icon" />
    </figure>
    <div class="projectSummary">
        <div class="projectTitle">
            <h5>@projectName</h5>
        </div>
        <div class="projectMembers">
            @*@foreach(var member in ProjectMembers)
            {
                <div>
                    
                </div>
            }*@
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string projectName { get; set; }

    [Parameter] 
    public List<AspNetUsers> ProjectMembers { get; set; }
}
