@using Ackee.Shared.Components.UI.TopMenu
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="mainLayout d-flex flex-column">

    <AuthorizeView>
        <Authorized>
            <header>
                <TopMenuComponent IsUserAuthenticated=true />
            </header>
        </Authorized>
        <NotAuthorized>
            <header>
                <TopMenuComponent IsUserAuthenticated=false />
            </header>
        </NotAuthorized>
    </AuthorizeView>

    @* Render the pages here, the pages are wrapped in a main element *@
    @Body 
</div>


@code
{

}
