@using Ackee.Shared.Components.UI.TopMenu
@using Microsoft.AspNetCore.Identity
@using Ackee.Data.Model
@inherits LayoutComponentBase

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="mainLayout d-flex flex-column">

    <AuthorizeView>
        <Authorized>
            <header>
                <TopMenuComponent IsUserAuthenticated=true />
            </header>
        </Authorized>
        <NotAuthorized>
            <header>
                <TopMenuComponent IsUserAuthenticated=false />
            </header>
        </NotAuthorized>
    </AuthorizeView>


    @* Render the pages here, the pages are wrapped in a main element *@
    @Body 
</div>


@code
{

}
