@using Ackee.Shared.Components.UI.TopMenu
@inherits LayoutComponentBase

<div class="d-flex flex-column">
    <header class="mainLayout">
        <TopMenuComponent />
    </header>

    <main class="mainLayout">
        @Body
    </main>
</div>


@code
{
    
}
