@using Ackee.Shared.Components.UI.TopMenu
@using Microsoft.AspNetCore.Identity
@using Ackee.Data.Model
@inherits LayoutComponentBase

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="mainLayout d-flex flex-column">
    <header>
        <AuthorizeView>
            <Authorized>
                <TopMenuComponent IsUserAuthenticated=true />
            </Authorized>
            <NotAuthorized>
                <TopMenuComponent IsUserAuthenticated=false />
            </NotAuthorized>
        </AuthorizeView>

    </header>

    <main>
        @Body
    </main>
</div>


@code
{

}
