@page "/project/{Id}"
@using Ackee.Shared.Components.ProjectDashboard.DashBoardWidgets

<DashboardLayout ProjectId=@Id PageName="Dashboard">
    <div class="projectDashboard_container">
        <div class="widgets">            
            <ListOfTasksComponent />
            <ListOfTasksComponent />
            <ListOfTasksComponent />
        </div>
    </div>
</DashboardLayout>

@code {
    [Parameter]
    public string Id { get; set; }
}
