@using Ackee.Services
@inject AuthenticationService AuthenticationService

<header class="topMenu">
    <div class="topMenu_container @(!AuthenticationService.GetUserAuthentication() ? "topMenu_container__landingPage" :"")">
        <div class="topMenu_logo">
            <NavLink href="/" Match="NavLinkMatch.All">
                <h1>ACKEE</h1>
            </NavLink>

        </div>
        <ul class="topMenu_menu">
            @if (!AuthenticationService.GetUserAuthentication())
            {
                <li class="topMenu_menuItem">
                    <NavLink class="topMenu_menu_link" href="/login" Match="NavLinkMatch.All">
                        Login
                    </NavLink>
                </li>
                <li class="topMenu_menuItem__signUp">
                    <NavLink class="btn btn-primary" href="/signup" Match="NavLinkMatch.All">
                        Sign Up!
                    </NavLink>
                </li>
            }
            else
            {
                <li>
                    <div>
                        <img />
                    </div>
                </li>
            }
        </ul>
    </div>
</header>
