<div class="topMenuIdentity">
    <div class="topMenuIdentity_container">
        <div class="topMenuIdentity_logo">
            <a href="/">ACKEE</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/Identity/Account/Login">Log in</a>
                </li>
                <li>
                    <a class="btn btn-primary" href="/Identity/Account/Register">Sign Up!</a>
                </li>
            </ul>
        </nav>
    </div>
</div>