@using Microsoft.AspNetCore.Identity
@using Ackee.Data.Model
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="collapse navbar-collapse" id="navbarTogglerTopMenu">
    <ul class="navbar-nav ml-lg-auto">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <a href="Identity/Account/Login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="Identity/Account/Register">Sign Up!</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>