@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<nav class="navbar navbar-expand-lg p-y-2 topMenu">    
    <AuthorizeView>
        <Authorized>
            <div class="topMenu_container">
                <div class="topMenu_togglerAndBrandContainer">
                    <button class="navbar-toggler text-white custom-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarTogglerTopMenu" aria-controls="navbarTogglerTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand .topMenu_logo" href="/">ACKEE</a>
                </div>
                <TopMenuItems />
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="topMenu_container topMenu_container__landingPage">
                <div class="topMenu_togglerAndBrandContainer">
                    <button class="navbar-toggler text-white custom-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarTogglerTopMenu" aria-controls="navbarTogglerTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand .topMenu_logo" href="/">ACKEE</a>
                </div>
                <TopMenuItems />
            </div>
            
        </NotAuthorized>
    </AuthorizeView>
</nav>